@import 'Login';
@import 'Nav';

i.material-icons.nav-icons {
  margin-top: 5px;
}

i.material-icons.logo-icon {
  margin-top: 0;
}

.home-button {
  margin-right: 5px;
}

.user-email {
  margin-right: 18px;
}
