$paper: #c9f2ff;
$dark-paper: #94c2d1;

.drawing-container {
  background: $paper;
  padding: 20px;
  padding-bottom: 40px;
  margin: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 6px 4px -4px gray;
}

.drawing-container:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: $dark-paper white;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}

.drawArea {
  width: 75%;
  height: 600px;
  border-radius: 4px;
  cursor: url('../../public/images/circle-pointer.png') 5 5, crosshair;
  margin: auto;
  margin-top: 5%;
}

.path {
  fill: none;
  stroke-width: 1px;
  stroke: black;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.drawing {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 4px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.draw-options {
  margin: 10px;
}

.color-picker {
  margin-left: 12%;
  margin-top: 5%;
  position: absolute;
  z-index: 2;
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.stroke-info {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 40px;
  
  .stroke-container {
    width: 65px;
    height: 50px;
    text-align: center;
    border: 4px solid #00bcd4;
    border-radius: 4px;
  }
}
