.home-button {
  margin-right: 10px;
}

.casual-button {
  margin-right: 10px;
}

.canvas-button {
  margin-right: 10px;
}

.user-email {
  margin-right: 24px;
}

.fa-home {
  font-size: 18px;
}

.fa-pencil-square-o {
  font-size: 18px;
}

.fa-pencil-square {
  font-size: 24px;
}